<table>
    <tr>
      <th>Nome</th>
      <th>Peso</th>
      <th>Validade</th>
    </tr>
    <% overSelect1.forEach((overdue1) => { %>
        <tr>
            <td><%= overdue1.name %></td>
            <td><%= overdue1.weight %></td>
            <td><%= overdue1.validity %></td>
        </tr>
    <% }) %>
    <% overSelect2.forEach((overdue2) => { %>
        <tr>
            <td><%= overdue2.name %></td>
            <td><%= overdue2.weight %></td>
            <td><%= overdue2.validity %></td>
        </tr>
    <% }) %>
    <% overSelect3.forEach((overdue3) => { %>
        <tr>
            <td><%= overdue3.name %></td>
            <td><%= overdue3.weight %></td>
            <td><%= overdue3.validity %></td>
        </tr>
    <% }) %>
    <% overSelect4.forEach((overdue4) => { %>
        <tr>
            <td><%= overdue4.name %></td>
            <td><%= overdue4.weight %></td>
            <td><%= overdue4.validity %></td>
        </tr>
    <% }) %>
    <% overSelect5.forEach((overdue5) => { %>
        <tr>
            <td><%= overdue5.name %></td>
            <td><%= overdue5.weight %></td>
            <td><%= overdue5.validity %></td>
        </tr>
    <% }) %>
    <% overSelect6.forEach((overdue6) => { %>
        <tr>
            <td><%= overdue6.name %></td>
            <td><%= overdue6.weight %></td>
            <td><%= overdue6.validity %></td>
        </tr>
    <% }) %>
    <% overSelect7.forEach((overdue7) => { %>
        <tr>
            <td><%= overdue7.name %></td>
            <td><%= overdue7.weight %></td>
            <td><%= overdue7.validity %></td>
        </tr>
    <% }) %>
</table>