<table>
    <tr>
      <th>Nome</th>
      <th>Peso</th>
      <th>Validade</th>
    </tr>
    <% select1.forEach((validity1) => { %>
        <tr>
            <td><%= validity1.name %></td>
            <td><%= validity1.weight %></td>
            <td><%= validity1.validity %></td>
        </tr>
    <% }) %>
    <% select2.forEach((validity2) => { %>
        <tr>
            <td><%= validity2.name %></td>
            <td><%= validity2.weight %></td>
            <td><%= validity2.validity %></td>
        </tr>
    <% }) %>
    <% select3.forEach((validity3) => { %>
        <tr>
            <td><%= validity3.name %></td>
            <td><%= validity3.weight %></td>
            <td><%= validity3.validity %></td>
        </tr>
    <% }) %>
    <% select4.forEach((validity4) => { %>
        <tr>
            <td><%= validity4.name %></td>
            <td><%= validity4.weight %></td>
            <td><%= validity4.validity %></td>
        </tr>
    <% }) %>
    <% select5.forEach((validity5) => { %>
        <tr>
            <td><%= validity5.name %></td>
            <td><%= validity5.weight %></td>
            <td><%= validity5.validity %></td>
        </tr>
    <% }) %>
    <% select6.forEach((validity6) => { %>
        <tr>
            <td><%= validity6.name %></td>
            <td><%= validity6.weight %></td>
            <td><%= validity6.validity %></td>
        </tr>
    <% }) %>
    <% select7.forEach((validity7) => { %>
        <tr>
            <td><%= validity7.name %></td>
            <td><%= validity7.weight %></td>
            <td><%= validity7.validity %></td>
        </tr>
    <% }) %>
</table>